@model IEnumerable<HangHoaView>
@{
    string loai = "Tất cả Sản phẩm";
    if (ViewBag.Loai != null)
    {
        loai = (ViewBag.Loai as Loai).TenLoai;
    }
    ViewData["Title"] = loai;
}

<input type="hidden" value="@ViewBag.Loai?.MaLoai" id="MaLoaiField" />

<div class="container">
    <div class="shop-inner">
        <div class="page-title">
            <h2>
                @loai
            </h2>
        </div>
        <div class="toolbar">
            <div class="view-mode">
                <ul>
                    <li class="active"> <a href="shop_grid.html"> <i class="fa fa-th-large"></i> </a> </li>
                    <li> <a href="shop_list.html"> <i class="fa fa-th-list"></i> </a> </li>
                </ul>
            </div>
            <div class="sorter">
                <div class="short-by">
                    <label>Sort By:</label>
                    <select>
                        <option selected="selected">Position</option>
                        <option>Name</option>
                        <option>Price</option>
                        <option>Size</option>
                    </select>
                </div>
                <div class="short-by page">
                    <label>Show:</label>
                    <select>
                        <option selected="selected">18</option>
                        <option>20</option>
                        <option>25</option>
                        <option>30</option>
                    </select>
                </div>
            </div>
        </div>

        <!--Panel tìm kiếm-->
        <div class="row m-0">
            <span class="col-md-3 text-right">Cần tìm</span>
            <div class="col-md-6">
                <input placeholder="Tên hàng hóa cần tìm" id="TenCanTim" class="form-control" />
            </div>
            <button type="button" id="btnTim" class="btn btn-success">Tìm</button>
        </div>

        <div class="product-grid-area" id="LuoiHangHoa">
            @await Html.PartialAsync("TimKiem", Model)
        </div>
        <div class="pagination-area">
            <ul>
                <li><a class="active" href="#">1</a></li>
                <li><a href="#">2</a></li>
                <li><a href="#">3</a></li>
                <li><a href="#"><i class="fa fa-angle-right"></i></a></li>
            </ul>
        </div>
    </div>
</div>

@section Scripts{
    <script>
        $(function () {        
            $("#TenCanTim").keyup(function () {
                //Quy định tối thiểu 3 kí tự
                if ($(this).val().trim().length < 3) return false;

                $.ajax({
                    url: "/HangHoa/TimKiem",
                    data: {
                        TuKhoa: $("#TenCanTim").val().trim().toLowerCase(),
                        MaLoai: $("#MaLoaiField").val()
                    },
                    success: function (response) {
                        $("#LuoiHangHoa").html(response);
                    }
                });
            });

            $("#btnTim").click(function () {
                $.ajax({
                    url: "/HangHoa/TimKiem",
                    data: {
                        TuKhoa: $("#TenCanTim").val().trim().toLowerCase(),
                        MaLoai: $("#MaLoaiField").val()
                    },
                    success: function (response) {
                        $("#LuoiHangHoa").html(response);
                    }
                });
            });
        });
    </script>
}